<p class="" id="">
       <label for="app_configift_ifmb_entity">Numer oddziału banku: </label><br>
       <input class="input_string" id="app_configift_ifmb_entity" name="conf[bank_id]" size="10" type="text" value="<%= Spree::Config[:ifmb_entity] %>">
</p>

<p class="" id="">
       <label for="app_config_ifmb_sub_entity">Numer sklepu w MassCollect: </label><br>
       <input class="input_string" id="app_config_ifmb_sub_entity" name="conf[collect_id]" size="10" type="text" value="<%= Spree::Config[:ifmb_sub_entity] %>">
</p>